.trial {
    background: #FF5600;
    height: 75px;
    
}


.trialText {
    position: absolute;
    left: 100px;
    top: 125px;
    color: #EDEDED;
    font-size: 20px;
    
}

.trialBtn {
    position: absolute;
    width: 420px;
    height: 54px;
    left: 1000px;
    top: 110px;
    color: #EDEDED;
    background-color: #0F0F0F;
    border-radius: 10px;
    
}
