a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
    font-size: 17px;
    transition: 1s;
}


.link {
    margin-right: 10px;
    text-decoration: none;
}


.authform {
    margin-left: auto;
    margin-right: auto;
    border: #000428 1px solid;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
}