<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сторінка ментора</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <nav style="padding: 20px; background: linear-gradient(to right, #004e92, #000428); color: white">
        <a class="link" href="/mentor">Mentor Workspace</a>
        <a class="link" href="/mentor/addCourse">Додати курс</a>
        <a class="link" href="/mentor/journal">Журнал</a>
    </nav>
    <a href="/" style="color: black">Повернутися на головний сайт</a>
</body>
</html>