<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <nav style="padding: 20px; background: linear-gradient(to right, #004e92, #000428); color: white">
        <a class="link" href="/">Головна</a>
        <a class="link">Курси</a>
        <a class="link">Робота</a>
        <a class="link" href="register">Реєстрація</a>
        <a class="link" href="login">Авторизація</a>
    </nav>
    <div class="authform">
        <h2 class="text-center">Реєстрація</h2>
        <form method="post">
            <div class="form-group">
                <label for="initials">ПІБ:</label>
                <input class="form-control" id="initials" type="text" placeholder="ПІБ" name="initials">
            </div>
            <div class="form-group">
                <label for="usertype">Ви реєструєтеся як:</label>
                <select id="usertype" class="form-control" name="usertype">
                    <option value="1">Студент/Працівник</option>
                    <option value="2">Ментор</option>
                    <option value="3">Роботодавець</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Елпошта:</label>
                <input class="form-control" id="email" type="email" placeholder="Елпошта" name="email">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input class="form-control" id="password" type="password" placeholder="Пароль" name="password">
            </div>
            <input type="submit" name="submitBtn" value="Зареєструватися">
        </form>
    </div>
</body>
</html>